<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout">

<meta charset="UTF-8">
<title>COVISCON - 속이 편안한 코딩 공작소</title>

<!-- config fragment -->
<th:block th:replace="/fragments/config :: configFragment"></th:block>

<body>
<!-- header fragment -->
<th:block th:replace="/fragments/header :: headerFragment"></th:block>

<!-- Body content -->
<div layout:fragment="content"></div>

<!-- footer content -->
<th:block th:replace="/fragments/footer :: footerFragment"></th:block>
</body>
</html>