<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" lang="ko">

<div layout:fragment="content">
    <main>
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>질문 & 답변</li>
                </ol>
                <h2>묻고 답해요</h2>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <!-- 검색창 -->
                <form th:action="@{${@environment.getProperty('prefix.url')} + 'list'}" method="get">
                    <div class="d-flex justify-content-center select_box">
                        <select name="qnaStatus" class="form-select" aria-label="Default select example">
                            <option value="" selected>전체</option>
                            <option value="INCOMPLETE">미해결</option>
                            <option value="COMPLETE">해결됨</option>
                        </select>

                        <select name="search" class="form-select" aria-label="Default select example">
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                        </select>

                        <span class="searchInput">
                            <input type="text" class="form-control" name="keyword" style="margin-right: 5px;"/>
                            <input type="submit" class="btn btn-primary" value="검색"/>
                        </span>
                    </div>
                </form>

                <div class="position-relative">
                    <div class="position-absolute bottom-0 end-0" style="margin-bottom: 10px;">
                        <a th:href="${@environment.getProperty('prefix.url')} + @{community/create}"
                           class="btn btn-outline-primary" th:text="글쓰기"></a>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>[미해결/해결]</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${postLists}">
                        <td>
                            <h5>
                                <span th:if="${post.qnaStatus.toString() == 'INCOMPLETE'}" class="badge bg-secondary">미해결</span>
                                <span th:if="${post.qnaStatus.toString() == 'COMPLETE'}" class="badge bg-success">해결됨</span>
                            </h5>
                        </td>
                        <td>
                            <a th:if="${post.itemId != null}"
                               th:href="${@environment.getProperty('prefix.url')} + @{{qnaId}/{itemId}/detail(qnaId=${post.qnaId}, itemId=${post.itemId})}"
                               th:text="${post.title}"></a>
                            <a th:if="${post.itemId == null}"
                               th:href="${@environment.getProperty('prefix.url')} + @{{qnaId}/detail(qnaId=${post.qnaId})}"
                               th:text="${post.title}"></a>
                        </td>
                        <td>
                            <p class="post-list" th:text="${post.nickName}"></p>
                        </td>
                        <td>
                            <p class="post-list" th:text="${#temporals.format(post.lastModifiedDate, 'yyyy.MM.dd')}"></p>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <!-- Pagination with icons -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination d-flex justify-content-center">
                            <!-- 첫번째 페이지로 이동 -->
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="${@environment.getProperty('prefix.url')} + @{list(page=0, size=20)}"
                                   th:attr="aria-label=${#strings.concat('Page ', presentPage + 1)}">&laquo;</a>
                            </li>
                            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                                <!-- 현재페이지는 링크 없이 숫자만 -->
                                <li th:class="${presentPage == page} ? 'page-item active' : 'page-item'">
                                    <a class="page-link" th:href="${@environment.getProperty('prefix.url')} + @{list(page=${page},size=20)}" th:text="${page} + 1"></a>
                                </li>
                            </span>
                            <!-- 마지막 페이지로 이동 -->
                            <li class="page-item">
                                <a class="page-link" th:href="${@environment.getProperty('prefix.url')} + @{list(page=${endPage}, size=20)}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- End Pagination with icons -->
                </div>
            </div>
        </section>
    </main><!-- End #main -->
</div>
</html>